{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <h1>All Notifications</h1>
            {% for notification in myTopFiveNotifications %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <a href="{{ path('client_profile_view', {'id': notification.id}) }}"><h2>{{ notification.message }}</h2></a>
                        </header>

                        <a href="{{ notification.targetLink }}">
                            {{ notification.targetLink }}
                        </a>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('client_profile_view', {'id': notification.id}) }}">View Profile&raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}