{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <h1>All Clients</h1>
            {% for client in clients %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <a href="{{ path('client_profile_view', {'id': client.id}) }}"><h2>{{ client.getFirstName }} {{ client.getLastName }}</h2></a>
                        </header>

                        <p>
                            {{ client.email }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('client_profile_view', {'id': client.id}) }}">View Profile&raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}