{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <h1>All Proposals</h1>
            {% for proposal in jobPost.proposals %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h3>
                                Freelancer Name: <a href="{{ path('user_profile_view', {'id': proposal.freelancerId}) }}"> {{ proposal.freelancer.getFirstName }} {{ proposal.freelancer.getLastName }}</a>
                            </h3>
                        </header>

                        <p>
                            {{ proposal.coverLetter }}
                        </p>

                        <p>
                            {#{{ proposal.freelancer }}#}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-sm" href="{{ path('single_proposal_view', {'id': jobPost.id, 'proposal_id': proposal.id}) }}">See proposal details</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}