{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row well">
            <h1>My Job Posts</h1>
            {% for myJobPost in myJobPosts %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <a href="{{ path('single_job_post_view', {'id': myJobPost.id}) }}"><h2>{{ myJobPost.jobTitle }}</h2></a>
                        </header>

                        <p>
                            {{ myJobPost.jobDescription }}
                        </p>

                        <small class="author">
                            {{ myJobPost.client.getFirstName }} {{ myJobPost.client.getLastName }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('single_job_post_view', {'id': myJobPost.id}) }}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}